header {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

#welcomeScreen {
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    padding: 0;
}

main {
    margin: 5%;
    height: 1000px;
    display: flex;
    flex-flow: column;
    position: relative;
}

main div {
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
}

#answerBox {
    display: flex;
    flex-direction: column;
}

#answerBox button {
    line-height: 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    
}

#answerBox div {
    background-color: beige;
    border: black solid 2px;
    padding: 10px;
    margin: 10px;
}

#leaderboard {
    display: flex;
}

#leaderboard ol {
    width: 50%;
}

#testScreen {
    display: none;
}

#endScreen {
    display: none;
}